@page "/Cases"
@using COVID.Component.Models
@using COVID.Web.Components
@using COVID.Web.Filters
@using COVID.Web.Interfaces

<PageTitle>COVID Cases by State</PageTitle>


<h1>COVID Cases by State</h1>

<p>This page allows you to view </p>


<TelerikLoaderContainer OverlayThemeColor="@ThemeConstants.Loader.ThemeColor.Light"
                        Visible="@( vm == null )">
    <Template>
        <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                       Size="@ThemeConstants.Loader.Size.Large" />
    </Template>
</TelerikLoaderContainer>


@if (vm != null)
{
    <CasesGrid Cases="@vm.Cases" FilterMode="GridFilterMode.FilterMenu"></CasesGrid>
}

@code {

    [Inject] IComponenentService<CasesPageVM> casesPageComponentService { get; set; }

    private ComponentBuildFilter filter = new ComponentBuildFilter();
    private CasesPageVM vm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        vm = await casesPageComponentService.BuildAsync(filter);  
    }
}
