@page "/AllData"
@using COVID.Component.Models
@using COVID.Web.Components
@using COVID.Web.Filters
@using COVID.Web.Interfaces

<PageTitle>COVID Cases - Full Historical Data</PageTitle>


<h1>Full Historical Data</h1>

<p>
    This page allows you to view all of the information available from the API.  It includes a row for every state with cumulative totals for each month of data collected.
    The built in Telerik grid filtering functionality is made available to refine searches.
</p>


<TelerikLoaderContainer OverlayThemeColor="@ThemeConstants.Loader.ThemeColor.Light"
                        Visible="@( vm == null )">
    <Template>
        <TelerikLoader Type="@LoaderType.InfiniteSpinner"
                       Size="@ThemeConstants.Loader.Size.Large" />
    </Template>
</TelerikLoaderContainer>


@if (vm != null)
{
    <CasesGrid Cases="@vm.Cases" FilterMode="GridFilterMode.FilterMenu"></CasesGrid>
}

@code {

    [Inject] IComponenentService<HistoricalPageVM> historicalPageComponentService { get; set; }

    private ComponentBuildFilter filter = new ComponentBuildFilter();
    private HistoricalPageVM vm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        vm = await historicalPageComponentService.BuildAsync(filter);
    }
}
